:root {
    --color-primary: #7380ec;

    --color-feature: #b3e5fc;
    --color-value: #ba68c8;
    --color-comparison: #bdbdbd;
    --color-magnitude: #f06292;
    --color-positive: #69f0ae;
    --color-negative: #f50057;

    --color-shadow: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0rem 2rem 3rem var(--color-shadow);
}


body {
    margin: 0;
    padding: 0;
}

#layout-master {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

#layout-master div {
    padding: 10px;
    border: 1px solid black;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
}

#slide-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#slide-2 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#rules {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2;
}