@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-primary: #7380ec;
    --color-primary-dark: #6b71a9;
    --color-dark-text: #363949;

    --color-feature: #b3e5fc;
    --color-value: #ba68c8;
    --color-comparison: #bdbdbd;
    --color-magnitude: #f06292;
    --color-positive: #69f0ae;
    --color-negative: #f50057;
    --color-effect: #69f0ae;

    --color-shadow: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;
    --color-card: #fff;
    --color-muted: rgb(237, 237, 237);

    --card-border-radius: 1.5rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 1.0rem;
    --padding-3: 0.8rem;
    --padding-4: 0.6rem;
    --padding-5: 0.4rem;

    --box-shadow: 0 0.4rem 1rem var(--color-shadow);
}

.feature {
    border-color: var(--color-feature);
    transition: all 0.3s ease;
}

.feature:hover {
    background: var(--color-feature);
}

.value {
    border-color: var(--color-value);
    transition: all 0.3s ease;
}

.value:hover {
    background: var(--color-value);
}

.comparison {
    border-color: var(--color-comparison);
    transition: all 0.3s ease;
}

.comparison:hover {
    background: var(--color-comparison);
}

.magnitude {
    border-color: var(--color-magnitude);
    transition: all 0.3s ease;
}

.magnitude:hover {
    background: var(--color-magnitude);
}

.effect {
    border-color: var(--color-effect);
    transition: all 0.3s ease;
}

.effect:hover {
    background: var(--color-effect);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

#rule-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#rule-list::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-1);
}

#rule-list::-webkit-scrollbar-thumb:hover {
    background-color: var( --color-primary-dark);
    cursor: pointer;
}

#rule-list::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    font-family: roboto, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
}

li, a, button {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--color-dark-text);
}

p {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-dark-text);
}

label {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-dark-text);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-dark-text);
}

h2 {
    font-size: 1.4rem;
    color: var(--color-dark-text);
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.8rem;
}

select, input {
    border: black dashed 2px;
    padding: var(--padding-3);
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: var(--border-radius-2);
}

select:hover {
    cursor: pointer;
}

.info-text-wrapper {
    text-align: center;
    max-width: 500px;
}

.participant-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#layout-master {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr;

    gap: 10px;

    padding: 10px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 5;
}

#slide-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#slide-2 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#rules {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.card {
    background: var(--color-card);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

.overlay {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.5s ease;
}

#end-screen {
    z-index: 9999;
}

.opaque {
    background-color: var(--color-card);
}

.transparent {
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.modal {
    background-color: #fff;
    max-width: fit-content;
    max-width: 100%;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s ease;
    border-radius: var(--card-border-radius);
}

.modal img {
    max-width: fit-content;
}

.modal:hover {
    transform: scale(0.8);
}

.hidden {
    background-color: transparent !important;
    opacity: 0%;
    pointer-events: none;
}

/**HEADER**/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

button {
    padding: 9px 25px;
    border: 2px dashed var(--color-primary);
    border-radius: var(--card-border-radius);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent;
    text-align: center;
}

button:hover {
    background-color: var(--color-primary);
    color: #fff;
}

#quit-button button {
    margin-top: 150px;
    border: 2px dashed var(--color-negative);
}

#quit-button button:hover {
    background-color: var(--color-negative);
}

/*Rule Section*/

#rules {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 50px 1fr 75px;
    gap: 10px;
    padding: 10px;
}

#rules .header {
    margin: 10px 0px 0px 20px;
}

#rules .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-group .list-group-item {
    display: flex;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
}

input {
    text-align: center;
}

.rule {
    gap: 0.5rem;
}

.list-group .list-group-item > div {
    padding: 10px 0px;
}

.list-group .list-group-item .handle {
    width: 50px;
    cursor: pointer;
    background: var(--color-primary);
}

.close {
    cursor: pointer;
    transition: all 0.2s ease;
    width: 50px;
}

.close:hover {
    color: var(--color-negative);
}

/*Slides Section*/
.slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr;
    gap: 10px;
}

.slide .header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.slide .input-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    box-shadow: var(--box-shadow);
}

.slide .prediction-img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    box-shadow: var(--box-shadow);
}

.slide .explanation-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    box-shadow: var(--box-shadow);
}

.slide img {
    transform: scale(1);
    max-width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
}

.slide img:hover {
    transform: scale(1.2);
    z-index: 999;
}

@media all and (max-width: 2349px) {

    select, input {
        border: black solid 2px;
        padding: var(--padding-5);
        text-align: center;
        font-weight: 800;
        font-size: 0.8rem;
        border-radius: var(--border-radius-2);
    }
    
    select:hover {
        cursor: pointer;
    }

    .list-group .list-group-item p {
        font-size: 1rem;
    }
    
    .rule {
        gap: 0.2rem;
    }
    
    .list-group .list-group-item > div {
        padding: 5px 0px;
    }
    
    .list-group .list-group-item .handle {
        width: 25px;
        cursor: pointer;
        background: var(--color-primary);
    }

    .close {
        cursor: pointer;
        transition: all 0.2s ease;
        width: 50px;
    }
    
    .close:hover {
        color: var(--color-negative);
    }
}